* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.super-game-boards {
  display: inline-grid;
  gap: 36px;
  grid-template-columns: repeat(3, 1fr);  
  aspect-ratio: 1;
}

/* .game-board {

} */

.active {
 box-shadow: 2px -1px 19px 2px rgba(151, 161, 207, 0.75);
}